@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    border: 1px solid gray;
    height: 180px;
    width: 430px;
    margin: 1px 2px;
}

.content2 {
    border: 1px solid gray;
    height: 240px;
    width: 430px;
    margin: 1px 2px;
}

.content img {
    vertical-align: middle;
    padding: 10px;
    margin-left: 30px;
}

#more {
    padding-left: 40px;
}

.texts {
    font-size: 15px;
    width: 40%;
    height: 30%;
    margin-left: 35px;
}

#profile img {
    width: 60%;
    margin-left: 19px;
    margin-top: 19px;
}

.icons {
    display: flex;
    margin-top: 20px;
}

.icons img {
    margin: 30px 0px -5px 30px;
    height: 23px;
    width: 25px;
}

.icon4 img {
    margin-left: 180px;
}

.icon4 #nums {
    font-size: 20px;
    padding-top: 10px;
}

#maindiv {
    display: flex;
    margin-left: 120px;
}

#first {
    margin: 10px;
}

#second {
    margin: 10px;
}

#third {
    margin: 10px;
}