@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    text-align: center;
    font-family: 'Abel', sans-serif;
    background-image: url("https://images3.alphacoders.com/853/thumb-1920-85305.jpg");
    text-align: center;
}
h1 {
    color:rgb(153, 118, 74);
    font-size: 60px;
}
p{
    color: darkgreen;
    font-size: 30px;
}
#sport{
    color: lightseagreen;
    padding-right: 30px;
    font-size: 50px;
}
#tech{
    color: lightseagreen;
    padding-right: 30px;
    font-size: 50px;
}