@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.primary {
    background-color: hsl(236, 57%, 58%);
    font-size: 20px;
    border-style: hidden;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

.default {
    display: inline;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: black;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

.dashed {
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: black;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

.danger {
    background-color: rgb(206, 224, 224);
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: red;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

/*                     2-homework                  */

.small {
    font-size: 14px;
    width: 100px;
    height: 23px;
}

.large {
    font-size: 40px;
    width: 150px;
    height: 150px;
}

.ghost {
    background-color: Transparent;
}